<IfModule mod_rewrite.c>
    RewriteEngine On

    # Check if the request is for a real file or directory in the public folder
    RewriteCond public/%{REQUEST_FILENAME} -f [OR]
    RewriteCond public/%{REQUEST_FILENAME} -d
    RewriteRule ^(.*)$ public/$1 [L]

    # Otherwise, route to public/index.php
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
